<app-header></app-header>
<body>
  <main>
    <div class="album py-3 bg-light">
      <div class="container">
        <div id="btn">
          <button type="button" (click)="onNuevoInteresado()" routerLink="/registrarProveedor" class="btn btn-primary">Registrar</button>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nit</th>
              <th scope="col">Nombre</th>
              <th scope="col">Celular</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of proveedores; index as i">
            <tr>
              <th scope="row"> {{ i + 1 }} </th>
              <td> {{ item.nit }} </td>
              <td> {{ item.nombre }} </td>
              <td> {{ item.celular }} </td>
              <td>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                  <button type="button" (click)="onClick(item.nit)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="../../../../assets/img/x.svg" alt="" width="20" height="20">
                  </button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                  <button type="button" (click)="onModificar(item)" routerLink="/registrarProveedor" class="btn btn-primary">
                    <img src="../../../../assets/img/pencil.svg" alt="" width="20" height="20">
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar esta cliente?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" (click)="eliminar()" data-bs-dismiss="modal" class="btn btn-primary">Eliminar</button>
      </div>
    </div>
  </div>
</div>
