<app-header></app-header>
<body>
  <main>
    <div class="album py-3 bg-light">
      <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="text-center">Registro de cliente</h2>
          <form class="py-3" [formGroup]="formGroup">

            <div class="form-group" *ngIf="interesadoModificar === null">
              <label>Identificacion</label>
              <input type="text" formControlName="id" name="identificacion" class="form-control" />
            </div>

            <div class="form-group">
              <label>Nombre</label>
              <input type="text" formControlName="nombre" name="identificacion" class="form-control" />
            </div>

            <div class="form-group">
              <label>Celular</label>
              <input type="text" formControlName="celular" name="identificacion" class="form-control" />
            </div>

            <div class="form-group">
              <label>Correo</label>
              <input type="text" formControlName="correo" name="identificacion" class="form-control" />
            </div>

            <div class="form-group">
              <label>Contraseña</label>
              <input type="text" formControlName="contrasena" name="identificacion" class="form-control" />
            </div>

            <div class="text-center py-3">
              <button class="btn btn-secondary" type="reset">Cancelar</button>
              <button class="ms-4 btn btn-primary" [disabled]="formGroup.invalid" (click)="onRegistrar()">Regisrar</button>
            </div>

          </form>
        </div>
      </div>
      </div>
    </div>
  </main>
</body>
